@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --white: #f6f6f6;
  --top-space: 4.75vh;
}

body {
  background-color: black;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:visited { 
  text-decoration: none; 
  color: var(--white);
 }